body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #34495e;
  letter-spacing: 1.2px;
  
}
.container{
  width: 300px;
  padding: 50px 40px;
  background: rgba(0,0,0, 0.3);
  color: #fff;
  box-shadow: 0 6px 8px rgba(0,0,0,0.3);
input, label {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 10px 12px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.2);
  box-sizing: border-box;
  color: #fff;
  outline: none;
  &::placeholder {
    color: rgba(255,255,255,0.5);
  }
}
  label {
    padding: 0;
    background: none;
    border: none;
  
  input {
    display: inline;
    width: auto;
    padding: 0;
    margin: 0;
  }
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background: #2c3e50;
    border: none;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.7);
    transition: all 0.15s ease;
    position: relative;
    top: 0;
    &:hover {
    color: rgba(255,255,255,0.9);
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
      
    }
    &:active {
      top: 2px;
    }
  }
  p {
    text-align: right;
    a {
      color: rgba(255,255,255,0.7);
      font-size: .75rem;
      transition: all 0.15s ease;
      &:hover {
      color: white;
      }
    }
  }
}